<ion-header>
    <ion-toolbar>
        <div class="cont-header">
            <img class="img-header" src="assets/icon/virtualizarme.png" alt="">
            <i class="fab fa-bluetooth" [routerLink]="['/bluetooth-connect']"></i>
        </div>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <div class="cont-button">

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fab fa-affiliatetheme"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fas fa-air-freshener"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fab fa-airbnb"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fab fa-angellist"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fab fa-affiliatetheme"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fas fa-award"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fas fa-assistive-listening-systems"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fas fa-basketball-ball"></i>
        </ion-button>
        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="far fa-bell"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fas fa-birthday-cake"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fas fa-bomb"></i>
        </ion-button>

        <ion-button class="btn" (click)="eventButton()" [routerLink]="['/home']">
            <i class="fas fa-bullhorn"></i>
        </ion-button>

    </div>


</ion-content>